.card {
  padding: 20px;
  box-shadow: 0px 2px 8px 0px rgba(116, 85, 177, 0.2);
  cursor: pointer;
}
.card:hover {
  box-shadow: 0px 2px 8px 0px rgba(116, 85, 177, 0.5);
}

.img {
  max-width: 100%;
  width: 100%;
  display: block;
}

.rating {
  margin: 15px 0;
}
